/* CSS Document */

/*----------------MENU-----------------*/
div#menu {
	border-left: 4px solid #8d2d0d;
	border-bottom: 4px solid #8d2d0d;
	padding-left: 4px;
	padding-bottom: 4px;
}

div#menu h2{
	color: #000000;
	text-align:left;
	margin: 0;
	padding: 3px;
	padding-left: 6px;
	background: #d44413;
}
div#menu h3{
	margin: 0;
	padding: 6px;
	background: #d44413;
}

div#menu a{
	color: #000000;
	bgcolor=#d44413;
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
}
div#menu li {
	list-style:none;
	width:160px;
	border-top: 1px solid #d44413;
}

div#menu ul {
	left: 30px;
	margin: 0;
	padding: 0;
}

div#menu li a {
	padding: 2px 0px 2px 4px;
	text-decoration: none;
	width:160px;
	border-left: 4px solid #8d2d0d;
}


div#menu ul.niveau1 ul {
	border-left: 20px solid #d44413;
	background: #1a62db;
}
div#menu ul.niveau1 li {
	background: #b43a10;
}

div#menu li a:hover {
	border-left-color: #ff3800;
	font-weight:bold;
}
